%div{class: "question-#{ANSWER_TYPES[question.answer_type]}"}
  .question=question.question
  %h3="Current Data"
  .data{style: 'width: 41em'}
    =line_chart question.data.group_by_day(:created_at).average(:value), id: "question-#{question.id}-chart"

