.RENAME_ME
  %h1 Want to Make Your Life Better?
  %br
  %h2 Here's How: 
.row-fluid
  .span4
    .lifeBox
      %h1 Step 1:
      %h2 Take Data
  .span4
    .lifeBox
      %h1 Step 2:
      %h2 Try a New Habit
  .span4
    .lifeBox
      %h1 Step 3:
      %h2 Form Conclusion
