/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
$logoAspect: (141/686)px;
$headerColor: #FFE873;
$navOptionColor: #FFF2B2;
$navbarHeight: 2em;
$logoWidth: 41%;
$mastheadHeight: 9em;

header#sitewide {
  background: $headerColor;
  padding: 0 0 1em 1em;
  box-shadow: 0 .1em 0.1em lighten($headerColor, 7%);
  height: $mastheadHeight;

  #logo img {
    position: absolute;
    top: .1em;
    left: 1em;
    width: $logoWidth;
  }
}

nav { 
  position: absolute;
  top: $mastheadHeight - 3*$navbarHeight/4;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  ul li {
    float: left;
    width: 7em;
    margin-right: .8em;
    a {
      text-align: center;
      display: block;
      line-height: $navbarHeight;
      width: 100%;
      border-radius: .2em;
      background: $navOptionColor;
      &:hover {
        text-decoration: none;
        background-color: lighten($navOptionColor, 10%);
      }
    }
  }
}

.main_content {
  margin: 1em;
}
